<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jerry.nurse">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-feature android:name="android.hardware.camera"/> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/> <!-- 自动聚焦权限 -->


    <!-- 微信权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 极光推送 -->
    <permission
        android:name="com.jerry.nurse.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.jerry.nurse.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 百度地图定位 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Nurse">

        <!-- 友盟相关配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="596b66f43eae25286e001a18"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test"/>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1119170720115073#swallowtailcap"/>
            <!--android:value="1119170720115073#swallowtail-cap-test"/>-->
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wh1oA4rR31jibPcaDt50LLpP35hb6q70"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HtmlActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InputActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ProfessionalCertificateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PractisingCertificateActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 极光推送 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
        </activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.jerry.nurse"/>
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.jerry.nurse"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="com.jerry.nurse"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <!-- User defined. For test only 用户自定义的广播接收器 -->
        <!-- <receiver -->
        <!-- android:name=".jpush.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION"/> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION"/>&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="com.jerry.nurse"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- <receiver android:name=".jpush.MyJPushMessageReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" /> -->
        <!-- <category android:name="com.jerry.nurse"></category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="b1ec133146726dd0ea653988"/> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- QQ第三方登陆SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 开放平台获取的APPID -->
                <data android:scheme="tencent1106292702"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeCellphoneActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NewCellphoneActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SexActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CountryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HospitalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OfficeListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NoCertificateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ContactDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ContactOfficeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ContactListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AnnouncementActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AnnouncementDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AddContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CellphoneContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.GroupInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CreateGroupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AddContactApplyActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".service.EaseMobService"/>

        <activity
            android:name=".activity.GroupListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HospitalLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CreditCheckActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ScheduleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EventReportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FallDownEventActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HospitalAccountActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.IndicatorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.ContactMoreActivity">
        </activity>
        <activity android:name=".activity.CreditDetailActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MeetingActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ChangeActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Feedback1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Feedback2Activity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Feedback3Activity"
                  android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jerry.nurse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>